.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title__section {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

.button__section {
  display: flex;
  gap: 4px;
}