.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.weather__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  height: 90vh;
  width: 80vw;

  @media screen and (max-width: 754px) {
    height: 120vh;
  }
}

.weather__section__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 4rem;
  width: 20rem;

  @media screen and (max-width: 754px) {
    flex-direction: column;
    width: 5rem;
  }
}

.weather__section__center__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding: 45px;
  height: 100%;
  width: 100%;
}

.weather__section__center__card_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px
}

.weather__section__center__card_center {
  display: flex;
}